@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');



#footer {
    background: rgb(27, 27, 27);
    padding-top: 8px;
    padding-bottom: 3px;
    text-align: center;
    font-family: 'Roboto';
  }

 #contact p {
   font-family: 'Roboto';
    color: #888;
    font-size: 14px;
    text-align: left;
  }

  #footer a {
    color: #ffffff;
  }

  #footer a:hover {
    border-bottom: 2px solid #608dfd;
    color: #88b900;
  }

  .social-icons {
    font-size: 25px;
    color: grey;
    margin-right: 10px;

  }
  .payment-method-icons {
    font-size: 20px;
    color: grey;
    margin-right: 10px;
  }
  .title-section-home {
    text-transform: capitalize;
  }
  .title-section-home-besana-beauty {
    text-transform: capitalize;
    margin: 60px 0 0 0;
    font-weight: 100;
    font-size: 36px !important;
    color: #e3b4b5;
  }

  h4{
    font-family: 'Roboto';
    font-weight: lighter;
  }

 